.title {
  display: flex;
  justify-content: center;
  align-items: center;
  .link {
    margin-left: 10px;
    width: calc(50px + 1vw);
    height: auto;
  }
}

.container {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.search {
  margin: 50px auto;
}

.search input {
  padding: 5px;
  font-style: italic;
  font-size: 16px;
  min-width: 300px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  grid-row: 2;
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 18px;
}

.content {
  grid-row: 3;
  padding: 12px 0;
  word-break: break-all;
}

.content p {
  line-height: 1.5;
  word-spacing: 2px;
}

.buttons {
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.buttons button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.buttons button:hover {
  opacity: 0.8;
}

.editButton {
  background-color: #ffc107;
  font-size: 16px;
}

.deleteButton {
  background-color: #dc3545;
  font-size: 16px;
}

.addButton {
  background: #24963e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  max-height: calc(100vh - 20px);
  overflow: auto;
  box-sizing: border-box;
}

.modal input,
.modal textarea,
.modal select,
.modal button {
  padding: 10px;
  width: calc(100% - 20px);
  min-height: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}

.modal button {
  background-color: var(--btn);
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
