.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  color: var(--textSoft);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
  padding: 50px;
  gap: 32px;
  border-radius: 5px;
  background-color: var(--bgSoft);
  border: 3px solid var(--bgNav);
}

.form input {
  padding: 16px;
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 16px;
  background-color: var(--bgNav);
  color: var(--textSoft);
  font-weight: bold;
}
