.title {
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.intro {
  margin: auto;
}

.section {
  margin-top: 32px;
}
