.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.description {
  font-size: 24px;
  font-style: italic;
  align-self: center;
  margin: auto auto 48px auto ;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.intro {
  margin: auto;
}

.section {
  margin-top: 32px;
}

.link {
  text-decoration: underline;
}
