.container {
  width: 100%;
}

.container h2 {
  text-align: center;
  margin: 20px auto;
}

.buttons {
  width: 50px;
  height: 50px;
}

.actions {
  display: flex;
  flex: 2;
  gap: 10px;
}

#edit,
#remove {
  width: 30px;
  height: 30px;
}

.listIngredients {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
}

.newIngredient {
  display: flex;
  margin: 20px 0;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.newIngredient :first-child {
  width: 60%;
  height: 50px;
}

.newIngredient :nth-child(2) {
  width: calc(20% - 50px);
  height: 50px;
}

.newIngredient :nth-child(3) {
  width: calc(20% - 50px);
  height: 50px;
}

.editIngredient {
  display: flex;
  margin: 20px 0;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.editIngredient :first-child {
  width: 60%;
  height: 50px;
}

.editIngredient :nth-child(2) {
  width: calc(20% - 50px);
  height: 50px;
}

.editIngredient :nth-child(3) {
  width: calc(20% - 50px);
  height: 50px;
}
