.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  font-size: x-large;
}

.formContainer {
  flex: 1;
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--textSoft);
}

.form textarea {
  resize: none;
  font-family: "Biryani", sans-serif;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--textSoft);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
