.description {
  width: 60%;
  align-self: center;
  margin: 32px auto;
  font-size: var(--fsSub);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form input,
.form textarea {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
}

.form input:focus,
.form textarea:focus {
  outline: 3px solid rgba(139, 195, 74, 0.3);
}

.form button {
  padding: 16px;
  background-color: var(--bgNav);
}

@media (max-width: 1024px) {
  .description,
  .form {
    width: 80%;
  }

  .description {
    margin: 32px;
  }
}
