.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  grid-row: 1;
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card h3 {
  text-align: center;
  font-size: var(--fsSub);
}

.content {
  grid-row: 2;
  padding: 12px 20px;
  word-break: break-all;
}

.content p {
  line-height: 1.5;
  word-spacing: 2px;
}

.noRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.noRecipe img {
  width: calc(50px + 2vw);
  height: auto;
  margin: 50px 0;
}
