.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  grid-row: 1;
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}


.card h3 {
  font-size: 24px;
  text-align: center;
}

.content {
  grid-row: 2;
  padding: 12px 20px;
}

.content p {
  line-height: 1.5;
  word-spacing: 2px;
}

.favorites {
  background: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 50px auto;
  width: 200px;
}

.favorites:hover {
  opacity: 0.8;
}

.noRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}
