.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: auto;
  rotate: 45deg;
}

.container {
  padding: 5px 16px;
  border-radius: 24px;
}

.active {
  background-color: var(--bgNav);
  color: var(--textSoft);
}

@media (max-width: 1024px) {

  .logo img {
    align-self: center;
  }
}
