.container {
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 500px;
  align-self: center;
}

.favoriteContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}

.favorite {
  background: transparent;
  opacity: 0.9;
}

.title {
  text-align: center;
  margin: 50px;
  font-weight: lighter;
  color :#283319;
}

.content {
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  background-color: white;
  font-size: var(--fsNav);
  font-weight: normal;
  margin: 50px auto;
  border-radius: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.difficultyImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 24px 12px 24px;
}

.difficultyImage {
  width: 25px;
  height: 25px;
}

.duration {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 24px 12px 24px;
}

.persons {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 24px 12px 24px;
}

.ustensils {
  grid-row: 2;
  grid-column: 1;
  padding: 16px;
  margin: 20px 0 10px 20px;
   background-color: #C2D8BD;
   border-radius: 10px;
}

.informations {
  grid-row: 3;
  grid-column: 1;
  margin: 10px 0 20px 20px;
   padding: 16px;
   background-color: #85B27B;
      border-radius: 10px;
}

.instructions {
  grid-row: 2 / 4;
  grid-column: 2 / 4;
  padding-inline: 36px;
  padding-top: 20px;
  white-space: pre-wrap;
  padding-bottom: 24px;
}

.instructions h3 {
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: auto 0;
  }
  .card {
    max-width: 500px;
    border-radius: 12px;
    background: var(--bgImg);
    box-shadow: 2px 2px 0px #c4c4c4, -2px -2px 0px #ffffff;
    background-color: var(--bgImg);
    width: 80%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }

  .card img:first-child {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card img:last-child {
    padding-bottom: 10px;
  }

  .content {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0 20px;
    font-size: var(--fsNav);
    border: none;
    margin: 0;
  }

  .title {
    display: block;
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }

  .difficulty,
  .duration,
  .persons,
  .ustensils,
  .informations {
    padding-left: 0;
    border: none;
  }

  .difficultyImage img {
    width: 25px;
    height: 25px;
  }

  .mainTitle {
    display: none;
  }

  .instructions {
    grid-row: 4;
    grid-column: 1;
    padding: 20px 0 20px 20px;
  }

  .favoriteContainer {
    display: flex;
    justify-content: flex-end;
    align-items: last baseline;
    grid-row: 1;
    grid-column: 1;
    border: none;
    padding-right: 10px;

    .favorite {
      background: transparent;
    }
  }
}
