.title {
  display: flex;
  justify-content: center;
}

.description {
  width: 60%;
  align-self: center;
  margin: 32px;
  font-size: var(--fsSub);
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  grid-row: 1;
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card h3 {
  text-align: center;
  font-size: var(--fs);
}

.content {
  grid-row: 2;
  padding: 12px 20px;
  word-break: break-all;
}

.content p {
  line-height: 1.5;
  word-spacing: 2px;
}

.favorites {
  background: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 50px auto;
}

.favorites:hover {
  opacity: 0.8;
}

.noRecipe {
  width: 60%;
  font-weight: bold;
  align-self: center;
}

.noRecipe a {
  color: var(--bgNav);
}

@media (max-width: 1024px) {
  .description, .noRecipe {
    width: 80%;
  }
}