.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: xx-large;
  color: var(--text);
  margin-bottom: 20px;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recipeCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.recipeCard:hover {
  transform: translateY(-5px);
}

.recipeImage {
  position: relative;
  overflow: hidden;
}

.recipeImage img {
  width: 100%;
  height: auto;
}

.recipeDetails {
  padding: 20px;
}

.recipeDetails h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.recipeDetails p {
  font-size: 1rem;
  margin: 5px 0;
}

.recipeDetails p:first-child {
  margin-top: 10px;
}

.recipeDetails p:last-child {
  margin-bottom: 0;
}

.favorites {
  background: orange;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 50px 0;
}
