:root {
  --bg: whitesmoke;
  --bgSoft: #2ac3a2;
  --bgNav: #8bc34a;
  --text: #2d2b42;
  --textSoft: whitesmoke;
  --btn: #3673fd;
  --fs: calc(12px + 0.3vw);
  --fsSub: calc(16px + 0.3vw);
  --fsh: calc(16px + 1vw);
  --fsh1: calc(16px + 2vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
  word-spacing: 4px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--fs);
  overflow-y: scroll;
}

h1 {
  font-family: "Montserrat";
  font-size: var(--fsh1);
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Biryani", sans-serif;
  font-size: var(--fsh);
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button,
select {
  resize: none;
  font-size: var(--fs);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

ul,
li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100svh;
  padding-inline: 50px;
  margin: auto;
}
