:root {
  --bg: #E8F5E9;
  --bgSoft: #2d2b42;
  --text: #2d2b42;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Biryani", sans-serif;
  color: var(--text);
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
