.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  font-size: x-large;
  gap: 20px;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.selectMonth {
  font-size: 1.5em;
}

.selectedMonth {
  height: 2rem;
  font-size: 18px;
  padding: 5px;
}

.sections {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.vegetables,
.fruits {
  display: flex;
  flex-direction: column;
  margin : 0 20px;
}

@media (max-width: 1024px) {
  .sections {
    flex-direction: column;
    align-items: center;
  }

  .vegetables,
  .fruits {
    width: 100%;
    margin-bottom: 50px;
  }
}
