.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.form {
  width: 500px;
  border: 3px solid var(--bgNav);
  background-color: #2ac3a2;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.form input {
  padding: 20px;
  border: 1px solid var(--bgNav);
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--bgNav);
  color: var(--textSoft);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.register {
  text-decoration: underline;
}
