.container {
  background-color: white;
  margin: 200px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color {
  display: flex;
  margin: 200px;
}
.uc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
}

.uc h5 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.uc p{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.uc span {
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.uc:first-child {
  background-color: #283319;
  color: white;
}
.uc:nth-child(2) {
  background-color: #679f5a;
  color: white;
}
.uc:nth-child(3) {
  background-color: #d1e2cd;
  color: #283319;
}
.uc:nth-child(4) {
  background-color: #f4f3ef;
  color: #283319;
}
