.container {
  margin: auto;
  width: 80%;
}

.card {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto auto auto 1fr;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 0px #c4c4c4, -2px -2px 0px #ffffff;
}

.picture,
.description,
.title,
.infos,
.varieties,
.other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
}


.title {
  display: flex;
  justify-content: center;
}

.infos {
  background-color: lightyellow;
  padding: 20px;
}

.varieties {
  background-color: pink;
  padding: 20px;
}

.description {
  background-color: lightgreen;
  padding: 20px;
}

.other {
  background-color: lightblue;
  padding: 20px;
}

.picture {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;
  padding: 50px;
  margin: 0;
}

.title {
  grid-column: 2;
  grid-row: 1;
  font-weight: bold;
}

.infos {
  grid-column: 1;
  grid-row: 2;
}

.varieties {
  grid-column: 1;
  grid-row: 3;
}

.description {
  grid-column: 2;
  grid-row: 2;
}

.other {
  grid-column: 2;
  grid-row: 3;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: auto;
  }

  .card {
      grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
    padding: 0;
    margin: 0;
      box-shadow: 2px 2px 0px #c4c4c4, -2px -2px 0px transparent;
  }

  .title,
  .description,
  .infos,
  .varieties,
  .other {
    padding: 20px;
    margin: 0;
  }

  .picture {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }

  .title {
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-content: start;
  }

  .description {
    grid-column: 1;
    grid-row: 3;
  }

  .infos {
    grid-column: 1;
    grid-row: 4;
  }

  .varieties {
    grid-column: 1;
    grid-row: 5;
  }

  .other {
    grid-column: 1;
    grid-row: 6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
