.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.card {
  opacity: 0.5;
  transform: scale(0.75);
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  width: 20vw;
  max-width: 450px;
}

.mainCard {
  opacity: 1;
  transform: scale(1);
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  background-color: var(--bgImg);
}

.card:not(.mainCard):hover {
  opacity: 0.8;
  transform: scale(0.85);
}

.mainCard img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs);
  text-align: left;
}

.title {
  font-weight: bold;
}

.content {
  padding: 12px;
  font-size: var(--fsNav);
  line-height: 1.5;
  word-spacing: 2px;
}

.arrow {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .arrow img {
    width: calc(30px + 1vw);
    height: calc(30px + 1vw);
  }
  .cards {
    width: 80vw;
  }
  .mainCard {
    width: 30vw;
  }
}
