.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.cards {
  display: flex;
  align-items: center;
}

.card {
  opacity: 0.4;
  scale: 0.8;
}
.card:hover {
  transform: translateY(-5px);
}

.mainCard {
  opacity: 1;
  scale: 1;
  display: block;
  grid-template-rows: auto 1fr;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .picture {
    grid-row: 1;
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .title {
    grid-row: 2;
    text-align: center;
    font-weight: bold;
        font-size: var(--fsNav);
  }

  .content {
    grid-row: 3;
    padding: 8px;
    line-height: 1.5;
    word-spacing: 2px;
    font-size: var(--fsNav);
  }
}

.arrow {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}
